.iconssize22 {
      font-size: 30px;
}

.row2colsize {
      margin-left: -30px;
}

.marginleft555 {
      margin-left: -55%;
}

.addiconsize {
      font-size: 20px;
      margin-top: 3px;
}

.margininprogress {
      margin-left: 100px;
}

.row3colsize {
      margin-left: -165px;
}

.centercontentsize {
      margin-left: 230px;
      margin-top: 90px;
      margin-bottom: 50px;
}

.addbuttonmargin {
      margin-left: 600px;
}