$custom-blue: #217989;

.profile-image {
	width: 100px;
}

.my-black-buttons1 {
	margin-left: 20px;
}

.my-black-buttons2 {
	margin-left: 120px;
}

.modal-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	overflow: hidden;
}

.modal-content {
	position: relative;
	max-width: 90%;
	max-height: 90%;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.modal-close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	color: #333;
}

.custom-input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
	background-color: transparent;
}

.custom-input:focus {
	outline: none;
}

.searchintabs {
	position: relative;
	display: flex;
	align-items: center;
	width: 320px;
}

@media (max-width: 768px) {
	.searchintabs {
		width: 200px;
	}
}

// .searchintabs input {
// 	font: inherit;
// 	color: inherit;
// 	text-decoration: none;
// 	display: inline-flex;
// 	align-items: center;
// 	justify-content: center;
// 	padding: 0 1em 0 36px;
// 	height: 40px;
// 	// border-radius: 8px;
// 	// border: 2px solid var(--c-border-primary);
// 	// color: var(--c-text-action);
// 	font-size: 0.875rem;
// 	transition: 0.15s ease;
// 	width: 100%;
// 	line-height: 1;
// }

// // .searchintabs input::placeholder {
// // 	color: rgb(164, 164, 164);
// // }

// // .searchintabs input:focus,
// // .searchintabs input:hover {
// // 	border-color: orange;
// // }

// .searchintabs button {
// 	display: inline-flex;
// 	align-items: center;
// 	justify-content: center;
// 	border: 0;
// 	background-color: transparent;
// 	position: absolute;
// 	left: 12px;
// 	top: 50%;
// 	transform: translateY(-50%);
// 	font-size: 1.25em;
// 	color: var(--c-text-action);
// 	padding: 0;
// 	height: 40px;
// }

.searchintabs {
	position: relative;
	display: flex;
	align-items: center;

	input {
		font: inherit;
		color: inherit;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0 2em 0 36px;
		border-radius: 0.2rem;
		// border: 1px solid;
		// color: var(--c-text-action);
		font-size: 0.875rem;
		transition: 0.15s ease;
		width: 100%;
		line-height: 1;

		// &::placeholder {
		//     color: #217989;
		// }

		// &:focus,
		// &:hover {
		//     border-color: #217989;
		// }
	}

	button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 0;
		background-color: transparent;
		position: absolute;
		left: 8px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.25em;
		// color: #217989;
		padding: 0;
		height: 40px;
	}
}

// outsouceint.jsx
$number-of-options: 5;

#form-wrapper-out {
	width: 100%;
}

.form-out {
	max-width: 400px;

	#debt-amount-slider-out {
		display: flex;
		flex-direction: row;
		align-content: stretch;
		position: relative;
		width: 100%;
		height: 50px;
		user-select: none;

		&::before {
			content: " ";
			position: absolute;
			height: 2px;
			width: 100%;
			width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: orangered;
		}

		input,
		label {
			box-sizing: border-box;
			flex: 1;
			user-select: none;
			cursor: pointer;
		}

		label {
			display: inline-block;
			position: relative;
			width: 20%;
			height: 100%;
			user-select: none;

			&::before {
				content: attr(data-debt-amount);
				position: absolute;
				left: 50%;
				padding-top: 10px;
				transform: translate(-50%, 45px);
				font-size: 14px;
				letter-spacing: 0.4px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0.85;
				transition: all 0.15s ease-in-out;
			}

			&::after {
				content: " ";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 30px;
				height: 30px;
				border: 2px solid orange;
				background: #fff;
				border-radius: 50%;
				pointer-events: none;
				user-select: none;
				z-index: 1;
				cursor: pointer;
				transition: all 0.15s ease-in-out;
			}

			&:hover::after {
				transform: translate(-50%, -50%) scale(1.25);
			}
		}

		input {
			display: none;

			&:checked {
				+label::before {
					font-weight: 800;
					opacity: 1;
				}

				+label::after {
					border-width: 4px;
					transform: translate(-50%, -50%) scale(0.75);
				}

				~#debt-amount-pos-out {
					opacity: 1;
				}

				@for $i from 1 through $number-of-options {
					&:nth-child(#{$i * 2 - 1})~#debt-amount-pos-out {
						left: #{($i * 20%) - 10%};
					}
				}
			}
		}

		#debt-amount-pos-out {
			display: block;
			position: absolute;
			top: 50%;
			width: 12px;
			height: 12px;
			background: orangered;
			border-radius: 50%;
			transition: all 0.15s ease-in-out;
			transform: translate(-50%, -50%);
			border: 2px solid #fff;
			opacity: 0;
			z-index: 2;
		}
	}

	&:valid {
		#debt-amount-slider-out {
			input {
				+label::before {
					transform: translate(-50%, 45px) scale(0.9);
					transition: all 0.15s linear;
				}

				&:checked+label::before {
					transform: translate(-50%, 45px) scale(1.1);
					transition: all 0.15s linear;
				}
			}
		}
	}

	&+button {
		display: block;
		position: relative;
		margin: 56px auto 0;
		padding: 10px 20px;
		appearance: none;
		transition: all 0.15s ease-in-out;
		font-family: inherit;
		font-size: 24px;
		font-weight: 600;
		background: #fff;
		border: 2px solid orangered;
		border-radius: 8px;
		outline: 0;
		user-select: none;
		cursor: pointer;

		&:hover {
			// transform: scale(1.1);
			background: orangered;
			color: #fff;

			&:active {
				transform: scale(0.9);
			}
		}

		&:focus {
			background: #4caf50;
			border-color: #4caf50;
			color: #fff;
			pointer-events: none;

			&::before {
				animation: spin 1s linear infinite;
			}
		}

		&::before {
			display: inline-block;
			width: 0;
			opacity: 0;
			content: "\f3f4";
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
			margin-right: 0;
			transform: rotate(0deg);
		}
	}

	&:invalid+button {
		pointer-events: none;
		opacity: 0.25;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}

	to {
		transform: rotate(360deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
}

/* Hide default dropdown arrow */
.dropdown summary::-webkit-details-marker {
	display: none;
}

.dropdown summary {
	list-style: none;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1rem;
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
}

.save-btn {
	background-color: #ff9900ee;
	color: #ffffff;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	float: right;
}

.save-btn:hover {
	background-color: #ff9900;
}

// rgb(56, 159, 223)

.footer-buttons {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
}

.footer-button {
	padding: 8px 20px;
	color: white;
	background-color: $custom-blue;
	border: 1px solid $custom-blue;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.footer-button:hover {
	background-color: $custom-blue;
}

.SaveAndScheduleButtons {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.SaveAndScheduleButtons button {
	padding: 8px 20px;
	color: white;
	background-color: $custom-blue;
	border: 1px solid $custom-blue;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.SaveAndScheduleButtons button:hover {
	background-color: $custom-blue;
}

.AssessmentTestSubmit {
	position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 10px;
		background-color: #ffffff;
		border-top: 1px solid #cccccc;
		display: flex;
		align-items: center;
		justify-content: space-between;
}

.sectionFooter {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 10px;
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.sectionFooter button {
	padding: 8px 20px;
	color: white;
	background-color: $custom-blue;
	border: 1px solid $custom-blue;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.sectionFooter button:hover {
	background-color: $custom-blue;
}

.footerButton {
	padding: 8px 20px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.footerButton:hover {
	background-color: $custom-blue;
}

.customFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	background-color: #ffffff;
	border-top: 1px solid #cccccc;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.customFooter button {
	padding: 8px 20px;
	border: 1px solid $custom-blue;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.customFooter button:hover {
	background-color: $custom-blue;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
	background-color: #FFFFFF !important;
	color: #555 !important;
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
	-webkit-text-fill-color: #555555 !important;
	border: transparent !important;
}

.wrapper12 {
	width: 200px;
	height: 60px;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.circle12 {
	width: 20px;
	height: 20px;
	position: absolute;
	border-radius: 50%;
	background-color: #71c5f1;
	left: 15%;
	transform-origin: 50%;
	animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
	0% {
		top: 60px;
		height: 5px;
		border-radius: 50px 50px 25px 25px;
		transform: scaleX(1.7);
	}

	40% {
		height: 20px;
		border-radius: 50%;
		transform: scaleX(1);
	}

	100% {
		top: 0%;
	}
}

.circle12:nth-child(2) {
	left: 45%;
	animation-delay: .2s;
}

.circle12:nth-child(3) {
	left: auto;
	right: 15%;
	animation-delay: .3s;
}

.shadow12 {
	width: 20px;
	height: 4px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 62px;
	transform-origin: 50%;
	z-index: -1;
	left: 15%;
	filter: blur(1px);
	animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
	0% {
		transform: scaleX(1.5);
	}

	40% {
		transform: scaleX(1);
		opacity: .7;
	}

	100% {
		transform: scaleX(.2);
		opacity: .4;
	}
}

.shadow12:nth-child(4) {
	left: 45%;
	animation-delay: .2s
}

.shadow12:nth-child(5) {
	left: auto;
	right: 15%;
	animation-delay: .3s;
}